/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* App styles */

.markdown-body img {
    outline: 1px solid #24292f;
    border-radius: 6px;
    /* matches pre tag border-radius of gfm */
}

ol,
ul {
    list-style: initial;
}